@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }

  .input-box {
    @apply flex w-full justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
  }
}